<div class="bg-gray-100 min-h-screen flex flex-col">
  <header class="bg-white w-full p-4 shadow-md">
    <nav class="max-w-6xl mx-auto flex justify-between items-center">
      <div class="text-xl font-bold text-indigo-600">Dev jobs</div>
      <div>
        <a href="login" class="text-gray-700 hover:text-indigo-600 px-3">Login</a>
        <a href="registrar" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-blue-500">
          Registrar</a>
      </div>
    </nav>
  </header>

  <main class="flex-grow w-full max-w-4xl mx-auto p-4">
    <section class="my-8">
      <div class="bg-white rounded-lg shadow-md p-6 mb-4">
        <h2 class="text-2xl font-semibold mb-2">
          {{ "Desenvolvedor xxx" }}
        </h2>
        <p class="text-gray-700">
          {{ "Empresa ABC - São Paulo, SP" }}
        </p>
        <p>{{ "image" }}</p>
        <p>
          {{ "descricao ..." }}
        </p>
        <p>{{ "requisitos ...." }}</p>
        <button (click)="irParaVaga()" class="bg-indigo-600 text-white py-2 px-4 rounded mt-4 hover:bg-blue-500">
          Saiba mais
        </button>
      </div>
    </section>
  </main>

  <footer class="bg-gray-800 w-full p-4 text-center text-white">
    <p>&copy; 2024 Job Portal. Todos os direitos reservados.</p>
  </footer>
</div>