@if(loginService.hasPermission('analista')){
<mat-card class="p-2 mat-elevation-z1">
  <mat-card-title class="p-4 mt-2 text-indigo-500"
    ><strong>Listar Candidatos Interssados</strong></mat-card-title
  >
  <mat-card-content>
    <table mat-table [dataSource]="canditados" class="mat-elevation-z8">
      <!-- Codigo Vaga Column -->
      <ng-container matColumnDef="codigoVaga">
        <th mat-header-cell *matHeaderCellDef>Código Vaga</th>
        <td mat-cell *matCellDef="let element">{{ element.codigoVaga }}</td>
      </ng-container>

      <!-- Habilidades Column -->
      <ng-container matColumnDef="habilidades">
        <th mat-header-cell *matHeaderCellDef>Habilidades</th>
        <td mat-cell *matCellDef="let element">
          {{ element.habilidades.join(", ") }}
        </td>
      </ng-container>
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>

      <!-- Status Vaga Column -->
      <ng-container matColumnDef="statusVaga">
        <th mat-header-cell *matHeaderCellDef>Status Vaga</th>
        <td mat-cell *matCellDef="let element">{{ element.statusVaga }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            (click)="descontinuar(element)"
          >
            <mat-icon color="warn">block</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="detalhar(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
} @if(loginService.hasPermission('candidato')){

<p>listar vagas com usuario</p>
}
