<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <h3 class="text-indigo-600 bold">[[ Dev jobs ]]</h3>

  <span class="spacer"></span>

  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenaWidth()">
    <app-custom-sidenav
      [nomeUsuario]="nomeUsuario"
      [role]="usuarioRole"
      [collapsed]="collapsed()"
    />
  </mat-sidenav>
  <mat-sidenav-content
    class="content bg-gray-100"
    [style.margin-left]="sidenaWidth()"
  >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- menu >>> vagas >>>
<app-admin></app-admin>
<app-candidatos></app-candidatos> -->
