mat-toolbar {
    position: relative;
    z-index: 5;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}

.mat-toolbar {
    display: flex;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.logout-button {
    margin-left: auto;
}

.content {
    padding: 24px;
}