@if(loginService.hasPermission('analista')){
<div class="flex flex-col h-screen">
  <main class="flex flex-1">
    <section class="flex-1 bg-white p-3">
      <div class="flex justify-between items-center mb-4">
        <h3 class="font-semibold">Dashboard</h3>
      </div>
      <div class="flex flex-wrap gap-4">
        <div class="flex-1 min-w-0 bg-green-200 p-4">
          Vagas Criadas
          <span>{{ status.qtdCriada }}</span>
        </div>
        <div class="flex-1 min-w-0 bg-blue-200 p-4">
          Vagas Abertas
          <span>{{ status.qtdAberta }}</span>
        </div>
        <div class="flex-1 min-w-0 bg-yellow-200 p-4">
          Vagas Em Processo
          <span>{{ status.qtdEmProcesso }}</span>
        </div>
        <div class="flex-1 min-w-0 bg-red-200 p-4">
          Vagas Canceladas
          <span>{{ status.qtdCancelada }}</span>
        </div>
        <div class="flex-1 min-w-0 bg-indigo-800 p-4 text-white">
          Vagas Em Fechadas
          <span class="">{{ status.qtdFechada }}</span>
        </div>
      </div>
    </section>
  </main>
</div>
} @if(loginService.hasPermission('candidato')){
<mat-card class="p-2 mat-elevation-z1">
  <mat-card-title class="p-4 mt-2 text-indigo-500"
    ><strong>Dashboard</strong></mat-card-title
  >

  <div class="grid grid-cols-3 gap-4">
    <mat-card *ngFor="let ca of candidatos" class="p-4">
      <mat-card-header>
        <mat-card-title class="">
          <span class="font-semibold">{{ ca.codigoVaga }}</span>
        </mat-card-title>
        <mat-card-subtitle class="mt-4">
          Localização: {{ "Sp - São Paulo" }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-2 text-center">
        <p class="bg-blue-500 rounded-lg text-white">
          {{ ca.statusVaga }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>

}
